# Source: ghost/charts/mariadb/templates/secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: test-ghost-mariadb
  namespace: default
  labels:
    app.kubernetes.io/name: mariadb
    helm.sh/chart: mariadb-9.6.1
    app.kubernetes.io/instance: ghost
    app.kubernetes.io/managed-by: Helm
type: Opaque
data:
  mariadb-root-password: "MDRJcGVTR3RrNg=="
  mariadb-password: "Q2RYTE1Ma0hZNQ=="
